@tailwind base;
@tailwind components;
@tailwind utilities;


html{
  scroll-behavior: smooth;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Footer */
.footer-top {
  clip-path: polygon(0 0, 100% 15%, 100% 100%, 0% 100%);
}



/* Quil */
.post-editor-container {
  border: 1px solid #e0e0e0; /* Light border for the editor */
  border-radius: 8px; /* Rounded corners */
  padding: 16px; /* Padding around the editor */
  background-color: #ffffff; /* White background */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.ql-toolbar {
  border: none; /* Remove border from the toolbar */
  background-color: #f7f7f7; /* Light background for the toolbar */
  border-radius: 8px 8px 0 0; /* Rounded corners on top */
}

.ql-container {
  border: none; /* Remove border from the editor */
  border-radius: 0 0 8px 8px; /* Rounded corners on bottom */
}

.ql-snow .ql-editor {
  min-height: 300px; /* Adjust this value to your desired height */
  padding: 12px; /* Padding inside the editor */
  font-family: Arial, sans-serif; /* Set font family */
  font-size: 16px; /* Font size */
  line-height: 1.5; /* Line height for readability */
  overflow-y: auto; /* Allow scrolling if content exceeds the height */
}



/* My container */
.my-article strong {
  font-weight: 600;
}
.my-article h1 strong,
.my-article h1 {
  @apply font-bold text-[18px] md:text-[26px];
}
.my-article h2 strong,
.my-article h2 {
  @apply font-bold text-[17px] md:text-[23px];
}
.my-article h3 strong,
.my-article h3 {
  @apply font-bold text-[16px] md:text-[22px];
}
.my-article h4 strong,
.my-article h4 {
  @apply font-bold text-[16px] md:text-[21px];
}
.my-article h5 strong,
.my-article h5 {
  @apply font-bold text-[16px] md:text-[20px];
}
.my-article h6 strong,
.my-article h6 {
  @apply font-bold text-[16px] md:text-[19px];
}

.my-article p {
  @apply text-slate-700 text-base;
}

.my-article ul {
  @apply list-disc space-y-[15px] md:space-y-[17px] pl-6 text-slate-700;
}
.my-article ol {
  @apply list-decimal space-y-[15px] md:space-y-[17px] pl-6 text-slate-700;
}
.my-article ul li {
  @apply marker:text-primary marker:text-xl;
}
.my-article ol li {
  @apply marker:text-primary marker:text-xl;
}

.my-article img {
  @apply m-3 rounded-md md:rounded-lg;
}
/* .my-article a{
    @apply link-hover link-primary
} */

.my-article ins,
u {
  background: linear-gradient(to right, #fc4a1a, #f7b733);
  -webkit-background-clip: text;
  /* For webkit-based browsers (Safari, Chrome) */
  background-clip: text;
  color: transparent;
  text-decoration: none;
}

.my-article .marker {
  background-color: #f7b733;
  color: black;
}